.idea
*.zip
/kubejs/exported
/.mixin.out
/logs
/saves
/screenshots
/local
/patchouli_books
/journeymap
/addons
/crash-reports
/downloads
/resourcepacks
/.curseclient
/BotaniaVars.dat
/Crazier Crazy Craft (3).iml
/hs_err_pid12036.log
/minecraftinstance.json
/modules.cfg
/NewWorldBiomeIdFixer.json
/options.txt
/patchouli_data.json
/servers.dat
/servers.dat_old
/usercache.json
/usernamecache.json
/WailaErrorOutput.txt
